.form {
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
  padding: 1rem 1.5rem 0;
}

input {
  padding: 0.25rem 0.5rem;
  margin-bottom: 1rem;
}

.small-btn {
  width: 200px;
}

.list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.list .buttons {
  display: flex;
  gap: 0.5rem;
}
